resources:
- name: {{ env["name"] }}-vpn-rule-firewall
  type: compute.v1.firewall
  properties:
    network: {{ properties["network"] }}
    sourceRanges:
    - {{ properties["sourceRanges"] }}
    allowed:
    - IPProtocol: tcp
    - IPProtocol: udp
    - IPProtocol: icmp