resources:
- name: {{ env["name"] }}-allow-ssh
  type: compute.v1.firewall
  properties:
    targetTags: ["ssh-accessible"]
    network: {{ properties["network"] }}
    sourceRanges: ["0.0.0.0/0"] ## Make it only from content server
    allowed:
    - IPProtocol: {{ properties["IPProtocol"] }}
      ports: ["22"]