resources:
- name: {{ env["name"] }}-bucket
  type: storage.v1.bucket
  properties:
    tags:
    items: ["http-server", "ssh-accessible"] ## Accessible to http requests to serve static and ssh to allow modification of content